@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$font__main: "Questrial", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1;
$font__letter-spacing: 1.5px;
$font__line-height-pre: 1.5;
